<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>Garoot Kids Land</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="Garoot Kids Land" />

    <!-- style -->
    <link rel="stylesheet" href="./css/style.min.css">
</head>
<body>
    <div id="app">
        <header>
            <div loading="lazy" class="main-banner rellax" data-rellax-speed="3">
                <div class="banner-img"></div>
            </div>
            <nav id="myNavbar" class="navbar navbar-light fixed-top navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand text-zoo" href="index.html"><i class="text-orange">GAROOT</i> KIDS LAND</a>
                    <div class="d-flex flex-row align-items-start align-items-lg-center">
                        <button class="navbar-toggler btn btn-primary order-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                            <i data-feather="menu"></i>
                        </button>
                        <div class="collapse navbar-collapse justify-content-start" id="navbarText">
                            <ul class="navbar-nav mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#!">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="#!">Wahana</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="#!">Mini Zoo</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="#!">Tiket</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="container">
                <div class="onboarding">
                    <h1 class="text-zoo"><i class="text-orange">GAROOT</i> KIDS LAND</h1>
                    <span>MINI ZOO & WAHANA BERMAIN ANAK</span>
                </div>
            </div>
        </header>
        <main>
            <section class="sect-landing">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 mt-3">
                            <div class="text-center">
                                <img src="img/play-with-animal.svg" alt="play with animal" width="340px">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 mt-3">
                            <span class="h4">Apa itu <span class="text-orange">GAROOT KIDS LAND</span> ?</span>
                            <p class="mt-4"><span class="text-zoo"><span class="text-orange">GAROOT </span>KIDS LAND</span> (GoKIL) adalah Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero voluptatum ipsa doloremque, temporibus accusamus deleniti ipsum ab non, nam praesentium laboriosam necessitatibus facere nisi exercitationem, at debitis sint optio aliquid!</p>
                        </div>
                    </div>
                </div>  
            </section>
            <section class="sect-play">
                <div class="container">
                    <h2 class="h3 text-center">Apa aja sih yang ada di GAROOT KIDS LAND ?</h2>
                    <div class="row mt-5">
                        <div class="col-lg-4 col-md-12 mt-4 order-lg-1">
                            <div class="text-center">
                                <img src="img/horse-riding.svg" alt="play with animal" width="280px">
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 mt-4 order-lg-0">
                            <h3 class="h4 text-center text-orange">Mini Zoo</h3>
                            <p class="mt-3">
                                Provident earum sed expedita, saepe nihil possimus nobis labore itaque, inventore magnam, numquam laudantium vitae odio neque quas.
                            </p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-lg-4 col-md-12 mt-3">
                            <div class="text-center">
                                <img src="img/trampoline.svg" alt="trampoline" width="240px">
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 mt-3">
                            <h3 class="h4 text-center text-orange">Playground</h3>
                            <p class="mt-3">
                                Officiis impedit perspiciatis exercitationem tempore nisi nemo ex nobis optio animi natus ipsam assumenda totam inventore aliquam aliquid dignissimos, recusandae vitae amet quas.
                            </p>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-4 col-md-12 mt-4 order-lg-1">
                            <div class="text-center">
                                <img src="img/selfie.svg" alt="play with animal" width="210px">
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 mt-4 order-lg-0">
                            <h3 class="h4 text-center text-orange">Photo Spot</h3>
                            <p class="mt-3">
                                A et, repellat velit provident sed officia dicta praesentium nulla aut earum eius vel expedita hic id obcaecati reprehenderit. Praesentium, consequatur quidem cumque, delectus quas, error cupiditate eligendi fugiat soluta assumenda dolorem ab quisquam iste accusamus.
                            </p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-lg-4 col-md-12 mt-3">
                            <div class="text-center">
                                <img src="img/off_road.svg" alt="trampoline" width="240px">
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 mt-3">
                            <h3 class="h4 text-center text-orange">Odong-Odong</h3>
                            <p class="mt-3">
                                Placeat at mollitia, asperiores voluptatibus odio laboriosam veniam eum error obcaecati explicabo eligendi rerum ea. Delectus, quaerat.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sect-booking">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 mt-5">
                            <h2 class="h3">Perjalanan mu dimulai dari sekarang !</h2>
                            <i class="text-orange">Booking sekarang</i>
                            <p class="mt-4">Dolore totam eius numquam mollitia dolor, nobis est nulla laborum iusto beatae deserunt ut quasi delectus maxime quibusdam quae, fugit in cumque. Delectus nostrum provident recusandae, sapiente incidunt vero consequuntur voluptatibus cumque vel.</p>
                        </div>
                        <div class="col-lg-6 col-sm-12 mt-5">
                            <div class="card-form">
                                <form action="#!">
                                    <div class="form-group">
                                        <label for="name">Nama</label>
                                        <input type="text" class="form-control" id="name" placeholder="masukkan nama" v-model="form.name">
                                    </div>
                                    <div class="form-group mt-3">
                                        <label for="phone">Nomor HP</label>
                                        <input type="number" class="form-control" id="phone" placeholder="nomor hp/whatsapp" v-model="form.phone">
                                    </div>
                                    <div class="form-group mt-3">
                                        <label for="ticket">Jumlah Tiket</label>
                                        <input type="number" class="form-control" id="ticket" placeholder="jumlah tiket" v-model="form.ticket">
                                    </div>
                                    <div class="form-group mt-3">
                                        <label for="message">Pesan</label>
                                        <textarea name="message" id="message" class="form-control" v-model="form.message"></textarea>
                                    </div>
                                    <button type="button" class="btn btn-primary mt-3" @click="sendMessage()">Pesan Sekarang</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sect-loc">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 mt-3 order-lg-1">
                            <div class="text-center">
                                <img src="img/map.svg" alt="map" width="320px">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 mt-3 order-lg-0">
                            <h3>Dimana sih Garoot Kids Land itu?</h3>
                            <p class="mt-4"><span class="text-zoo"><i class="text-orange">GAROOT </i> KIDS LAND</span> berada di Jalan Rancabango, Desa Mekarjaya, Kecamatan Tarogong Kidul, Kabupaten Garut.</p>
                            <p>Untuk datang ke <span class="text-zoo"><i class="text-orange">GAROOT </i> KIDS LAND</span> kamu bisa menggunakan berbagai moda transportasi seperti motor, mobil, atau elf travel.</p>
                            <p>Apabila kamu menggunakan angkutan kota (angkot), kamu bisa menggunakan angkot jurusan Cipanas - Terminal Guntur. Nanti minta ke supir angkot nya untuk diturunkan di pertigaan Rancabango.</p>
                            <p>Nanti dari pertigaan Rancabango Kami akan menjemput kamu dengan menggunakan angkutan Odong-Odong yang akan seru kalo menaikinya !</p>
                            <p>Untuk lebih detail kamu bisa melihat alamat <span class="text-zoo"><i class="text-orange">GAROOT </i> KIDS LAND</span> melalui tombol di bawah ini :</p>
                            <div class="d-grid">
                                <a href="#!" class="btn btn-primary btn-block">BUKA GOOGLE MAPS</a>
                              </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sect-gallery">
                <div class="container text-center mb-5">
                    <h2>Galeri</h2>
                </div>
                <div class="container-gallery">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 mt-4" v-for="(image, i) in images" :key="i">
                            <div class="image-gallery text-center">
                                    <img :src="`img/${image}`" alt="gambar kebun binatang">
                                     <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modalGallry" @click="showImage(image)"><feather data-feather="search"></feather></button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="sect-why">
                <div class="container">
                    <h2>Kenapa Harus Garoot Kids Land?</h2>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12 mt-3">
                            <div class="box-why1">
                                <span class="display-3 text-right">1</span> 
                                <p>
                                    Mudah dijangkau
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mt-3">
                            <div class="box-why2">
                                <span class="display-3">2</span>
                                <p>
                                    Hiburang yang lengkap
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mt-3">
                            <div class="box-why1">
                                <span class="display-3">3</span>
                                <p>
                                    Permainan Ramah Anak
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 mt-3">
                            <div class="box-why2">
                                <span class="display-3">4</span>
                                <p>
                                    Tiket Murah
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <div class="modal fade" id="modalGallry" tabindex="-1" aria-labelledby="modalGallryLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <img :src="`img/${image_show}`" alt="image detail">
            </div>
        </div>
        <footer>
            <div class="top-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 mb-5">
                            <h4 class="text-zoo"><i class="text-orange">GAROOT</i> KIDS LAND</h4>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-5">
                            <h4>Sosial Media</h4>
                            <a class="icon-instagram-white" href="#!" target="_blank"></a>
                            <a class="icon-facebook-white" href="#!" target="_blank"></a>
                            <a class="icon-whatsapp-white" href="#!" target="_blank"></a>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-3">
                            <h4>Blog</h4>
                            <ul class="no-bullet">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="index.html">About Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col col-md-12">GAROOT KIDS LAND &copy; 2021 </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
<!--     
    <div class="floatshare">
        <a href="https://wa.me/6281222224823?text=skye.school%20:%20Assalamuallaikum%20..%20mohon%20info%20mengenai%20SKYE%20Digipreneur%20School" target="_blank">
            <span class="icon-whatsapp icon-whatsapp-white"></span> Kontak Kami
        </a>
    </div> -->

    <!-- javascript -->
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/feather.min.js"></script>
    <script src="js/rellax.min.js"></script>
    <script src="js/scripts.js"></script>

</body>
</html>