// Basic Color
$white: #FFFFFF;
$black: #202020;
$text: #313131;
$light: #fefefe;
$red: #ff6b6b;
$yellow: #FFCC29;
$dark: #1a535c;
$border: #d3d3d3;
$grey-light: #f3f3f3;
$green: #96bd13;
$orange: #ff682b;
$coklat: #bb6b52;